.content .inner-content .main section:not(.top)::after {
  display: none;
}
.content .inner-content .main section.top {
  position: relative;
  border-top: 56px solid;
  -o-border-image: url(../img/info-top-top.png) 56;
     border-image: url(../img/info-top-top.png) 56;
  padding: 0 0 50px;
}
.content .inner-content .main section.top h3 {
  margin-top: 0;
}
.content .inner-content .main section.top a.back {
  position: absolute;
  right: 35px;
  top: 10px;
  color: #422e1d;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  display: inline-block;
  padding: 0 10px 3px;
  border: 1px solid #422e1d;
  line-height: 1.8;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 6px 5px rgba(158, 132, 76, 0.55);
  box-shadow: 0px 0px 6px 5px rgba(158, 132, 76, 0.55);
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .inner-content .main section.top a.back:hover {
  text-decoration: none;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  -webkit-box-shadow: 0px 0px 60px 15px #ecbd2f;
  box-shadow: 0px 0px 60px 15px #ecbd2f;
}
.content .inner-content .main section.top a.back span {
  text-decoration: underline;
}
.content .inner-content .main section.top .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px;
}
.content .inner-content .main section.top .line .left p {
  display: inline-block;
  text-transform: uppercase;
  color: #422e1d;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.content .inner-content .main section.top .line .left p span {
  color: #ff6600;
  text-transform: none;
}
.content .inner-content .main section.top .line .right a.money {
  position: relative;
  display: block;
  width: 240px;
  height: 53px;
  border: none;
  background-color: transparent;
  background-image: url(../img/info-money-button.png);
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: 0px -3px 8px 0px black;
  box-shadow: 0px -3px 8px 0px black;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .inner-content .main section.top .line .right a.money span {
  color: #e5b226;
  background: -webkit-linear-gradient(#ffcc33, #996600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 50px;
  padding-left: 12px;
  letter-spacing: -1px;
}
.content .inner-content .main section.top .line .right a.money:hover {
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 60px 40px #ecbd2f;
  box-shadow: 0px 0px 60px 40px #ecbd2f;
}
.content .inner-content .main section.top ul {
  padding: 0 2%;
  margin: 40px 0 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content .inner-content .main section.top ul li {
  display: inline-block;
  width: 25%;
  text-align: center;
  position: relative;
  margin-bottom: 45px;
}
.content .inner-content .main section.top ul li a {
  display: block;
  width: 141px;
  height: 141px;
  color: #e5b226;
}
.content .inner-content .main section.top ul li a:hover .back {
  -webkit-box-shadow: 0px 0px 62px 5px rgba(44, 174, 255, 0.75);
  box-shadow: 0px 0px 62px 5px rgba(44, 174, 255, 0.75);
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .inner-content .main section.top ul li a:hover {
  text-decoration: none;
  color: #e5b226;
}
.content .inner-content .main section.top ul li .back {
  position: absolute;
  content: '';
  height: 141px;
  width: 141px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-image: url(../img/info-list-back.png);
  -webkit-box-shadow: 0px -1px 14px 0px black;
  box-shadow: 0px -1px 14px 0px black;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .inner-content .main section.top ul li img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: -10px;
}
.content .inner-content .main section.top ul li .text {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 10;
}
.content .inner-content .main section.top ul li .text p {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 13px;
  text-transform: uppercase;
}
.content .inner-content .main section.top ul li .text p span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 13px;
  text-transform: uppercase;
  text-shadow: 0px 10px 8px rgba(0, 0, 0, 0.63);
  background: -webkit-linear-gradient(#ffd272, #b38626);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content .inner-content .main section.top ul li .text.first {
  bottom: 37px;
}
.content .inner-content .main section.top ul li .text.second {
  bottom: 22px;
}
.content .inner-content .main section.top ul li .text.second p span {
  font-size: 12px;
}
.content .inner-content .main section.top ul li .ribbon {
  position: absolute;
  content: '';
  height: 81px;
  width: 186px;
  bottom: -20px;
  left: 0;
  background-image: url(../img/info-ribbon.png);
}
.content .inner-content .main section.top::after {
  position: absolute;
  content: '';
  width: 903px;
  height: 134px;
  background-image: url(../img/info-top-bottom.png);
  bottom: -40px;
  left: -58px;
  z-index: 10;
}
.content .inner-content .main section.middle h4 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  width: 100%;
  z-index: 2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  margin: 0;
}
.content .inner-content .main section.middle p {
  margin: 25px 0 5px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #675538;
  font-size: 20px;
}
.content .inner-content .main section.middle p span {
  font-weight: inherit;
  font-size: inherit;
  display: inline;
  text-transform: uppercase;
}
.content .inner-content .main section.middle span {
  display: block;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #675538;
  font-size: 16px;
}
.content .inner-content .main section.low {
  height: 586px;
  width: 100%;
  background-image: url(../img/info-low.png);
  margin-bottom: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}
.content .inner-content .main section.low button {
  height: 66px;
  width: 272px;
  background-image: url(../img/sidebar-button.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 60px 5px rgba(86, 59, 10, 0.2);
          box-shadow: 0px 0px 60px 5px rgba(86, 59, 10, 0.2);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #fffbe8;
  margin-left: -10px;
}
.content .inner-content .main section.low form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 66%;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .inner-content .main section.low form div.select-box {
  position: relative;
  width: 75%;
  margin-bottom: 22px;
}
.content .inner-content .main section.low form div.select-box::after {
  position: absolute;
  content: '';
  top: 3%;
  right: 0;
  height: 94%;
  width: 3px;
  background-image: url(../img/info-field-border-right.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.content .inner-content .main section.low form div.select-box .nice-select {
  background-color: #ffffef;
  height: 50px;
  width: 100%;
  border: 3px solid #6c5a3a;
  border-radius: 9px;
  outline: none;
  padding: 0 15px;
  color: #675538;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-box-shadow: inset 0px -4px 10px 0px rgba(0, 0, 0, 0.79);
          box-shadow: inset 0px -4px 10px 0px rgba(0, 0, 0, 0.79);
}
.content .inner-content .main section.low form div.select-box .nice-select::before {
  position: absolute;
  content: '';
  top: 3%;
  left: -3px;
  height: 94%;
  width: 3px;
  background-image: url(../img/info-field-border-right.png);
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background-size: contain;
}
.content .inner-content .main section.low form div.select-box .nice-select::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 8px;
  width: 26px;
  height: 30px;
  background-image: url(../img/info-select-arrow.png);
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 0 10px 10px 0;
  border: none;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.content .inner-content .main section.low form div.select-box .nice-select.open::after {
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  -webkit-transform: translate(-37%, -77%) rotate(180deg);
          transform: translate(-37%, -77%) rotate(180deg);
}
.content .inner-content .main section.low form div.select-box .nice-select ul.list {
  width: 100%;
}
.content .inner-content .main section.low form div.select-box input[type='text'], .content .inner-content .main section.low form div.select-box select {
  background-color: #ffffef;
  height: 50px;
  width: 100%;
  border: 3px solid #6c5a3a;
  border-radius: 9px;
  outline: none;
  padding: 0 15px;
  color: #675538;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-box-shadow: inset 0px -4px 10px 0px rgba(0, 0, 0, 0.79);
          box-shadow: inset 0px -4px 10px 0px rgba(0, 0, 0, 0.79);
}
.content .inner-content .main section.low form div.select-box input[type='text']::-webkit-input-placeholder, .content .inner-content .main section.low form div.select-box select::-webkit-input-placeholder {
  color: #675538;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.content .inner-content .main section.low form div.select-box input[type='text']::-moz-placeholder, .content .inner-content .main section.low form div.select-box select::-moz-placeholder {
  color: #675538;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.content .inner-content .main section.low form div.select-box input[type='text']:-ms-input-placeholder, .content .inner-content .main section.low form div.select-box select:-ms-input-placeholder {
  color: #675538;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.content .inner-content .main section.low form div.select-box input[type='text']:-moz-placeholder, .content .inner-content .main section.low form div.select-box select:-moz-placeholder {
  color: #675538;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.content .inner-content .main section.low form div.select-box .arrow {
  position: absolute;
  top: 44%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 8px;
  width: 26px;
  height: 30px;
  background-image: url(../img/info-select-arrow.png);
  background-repeat: no-repeat;
  background-color: #ffffef;
  border-radius: 0 10px 10px 0;
}
.content .inner-content .main section.low form input[type='submit'] {
  width: 191px;
  height: 53px;
  background-image: url(../img/info-exchange-button.png);
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  bottom: 101px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  border-radius: 5px;
}
.content .inner-content .main section.low form input[type='submit'].exchange-button-hover {
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  -webkit-box-shadow: 0px 0px 60px 40px #ecbd2f;
  box-shadow: 0px 0px 60px 40px #ecbd2f;
}
.content .inner-content .main section.low form h5 {
  position: absolute;
  bottom: 93px;
  left: 38%;
  background: -webkit-linear-gradient(#ffcc33, #996600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: -1px;
  cursor: pointer;
  color: #e5b226;
  width: 191px;
  padding-left: 2%;
}
.content .inner-content .main section.low form h5 span {
  display: inline-block;
  height: 68px;
  width: 65px;
  background-image: url(../img/info-exchange-icon.png);
}
.content .inner-content .main footer.main {
  position: absolute;
  bottom: 0;
  width: 75%;
}
.content .inner-content .sidebar .registration.cabinet {
  background-image: none;
  padding-top: 85px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.content .inner-content .sidebar .registration.cabinet .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding-left: 20px;
}
.content .inner-content .sidebar .registration.cabinet .line img.avatar {
  border: 5px solid #ad8045;
  margin-right: 15px;
  max-width: 80px;
  max-height: 80px;
}
.content .inner-content .sidebar .registration.cabinet .line .text {
  -ms-flex-item-align: center;
      align-self: center;
}
.content .inner-content .sidebar .registration.cabinet .line .text p {
  margin: 0;
  color: #422e1d;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  padding: 0;
  cursor: default;
}
.content .inner-content .sidebar .registration.cabinet .line .text p:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}
.content .inner-content .sidebar .registration.cabinet .line:first-of-type {
  min-height: 80px;
  margin-bottom: 15px;
}
.content .inner-content .sidebar .registration.cabinet .line:first-of-type .text p {
  font-size: 18px;
  font-weight: 800;
}
.content .inner-content .sidebar .registration.cabinet .line:first-of-type .text span {
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  cursor: default;
}
.content .inner-content .sidebar .registration.cabinet .line:last-of-type {
  min-height: 50px;
}
.content .inner-content .sidebar .registration.cabinet .line:last-of-type img {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 18px 2px rgba(131, 85, 32, 0.86);
  box-shadow: 0px 0px 18px 2px rgba(131, 85, 32, 0.86);
  margin-right: 20px;
}
.content .inner-content .sidebar .registration.cabinet .line:last-of-type .text p {
  font-size: 14px;
}
.content .inner-content .sidebar .registration.cabinet .line:last-of-type .text p span {
  text-decoration: underline;
}
.content .inner-content .sidebar .registration.cabinet .line:last-of-type .text p span i {
  font-style: normal;
}
.content .inner-content .sidebar .registration.cabinet a {
  margin: 25px 0 0 10px;
}
.content .inner-content .sidebar .chat ul {
  height: 260px;
}
.content .inner-content .sidebar .bottomSpider {
  height: 10px;
}
