.content{
    .inner-content{
        .main{
            section:not(.top){
                &::after{
                    display: none;
                }
            }
            section.top{
                position: relative;
                border-top: 56px solid;
                border-image: url(../img/info-top-top.png) 56;
                padding: 0 0 50px;

                h3{
                    margin-top: 0;
                }

                a.back{
                    position: absolute;
                    right: 35px;
                    top: 10px;
                    color: #422e1d;
                    font-size: 14px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    display: inline-block;
                    padding: 0 10px 3px;
                    border: 1px solid #422e1d;
                    line-height: 1.8;
                    text-align: center;
                    border-radius: 4px;
                    margin-bottom: 20px;
                    -webkit-box-shadow: 0px 0px 6px 5px rgba(158, 132, 76, 0.55);
                    box-shadow: 0px 0px 6px 5px rgba(158, 132, 76, 0.55);
                    transition: all ease-in-out .4s;

                    &:hover{
                        text-decoration: none;
                        transition: all ease-in-out .4s;
                        -webkit-box-shadow: 0px 0px 60px 15px #ecbd2f;
                        box-shadow: 0px 0px 60px 15px #ecbd2f;
                    }

                    span{
                        text-decoration: underline;
                    }
                }

                .line{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 35px;

                    .left{
                        p{
                            display: inline-block;
                            text-transform: uppercase;
                            color: #422e1d;
                            font-size: 16px;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 700;

                            span{
                                color: #ff6600;
                                text-transform: none;
                            }
                        }
                    }
                    .right{
                        a.money{
                            position: relative;
                            display: block;
                            width: 240px;
                            height: 53px;
                            border: none;
                            background-color: transparent;
                            background-image: url(../img/info-money-button.png);
                            border-radius: 5px;
                            outline: none;
                            -webkit-box-shadow: 0px -3px 8px 0px rgba(0,0,0,1);
                            -moz-box-shadow: 0px -3px 8px 0px rgba(0,0,0,1);
                            box-shadow: 0px -3px 8px 0px rgba(0,0,0,1);
                            transition: all ease-in-out .4s;

                            span{
                                color: #e5b226;
                                background: -webkit-linear-gradient(#ffcc33, #996600);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                font-weight: 800;
                                font-size: 16px;
                                text-transform: uppercase;
                                line-height: 50px;
                                padding-left: 12px;
                                letter-spacing: -1px;
                            }
                            &:hover{
                                transition: all ease-in-out .4s;
                                text-decoration: none;
                                -webkit-box-shadow: 0px 0px 60px 40px #ecbd2f;
                                box-shadow: 0px 0px 60px 40px #ecbd2f;
                            }
                        }
                    }
                }

                ul{
                    padding: 0 2%;
                    margin: 40px 0 0;
                    list-style-type: none;
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        display: inline-block;
                        width: 25%;
                        text-align: center;
                        position: relative;
                        margin-bottom: 45px;

                        a{
                            display: block;
                            width: 141px;
                            height: 141px;
                            color: #e5b226;

                            &:hover .back{
                                -webkit-box-shadow: 0px 0px 62px 5px rgba(44,174,255,0.75);
                                -moz-box-shadow: 0px 0px 62px 5px rgba(44,174,255,0.75);
                                box-shadow: 0px 0px 62px 5px rgba(44,174,255,0.75);
                                transition: all ease-in-out .4s;
                            }
                            &:hover{
                                text-decoration: none;
                                color: #e5b226;
                            }
                        }

                        .back{
                            position: absolute;
                            content: '';
                            height: 141px;
                            width: 141px;
                            top: 0;
                            left: 50%;
                            transform: translate(-50%);
                            background-image: url(../img/info-list-back.png);
                            -webkit-box-shadow: 0px -1px 14px 0px black;
                            box-shadow: 0px -1px 14px 0px black;
                            transition: all ease-in-out .4s;
                        }
                        img{
                            position: absolute;
                            left: 50%;
                            transform: translate(-50%);
                            top: -10px;
                        }
                        .text{
                            position: absolute;
                            left: 50%;
                            transform: translate(-50%);
                            z-index: 10;
                            p{
                                margin: 0;
                                font-family: 'Open Sans', sans-serif;
                                font-weight: 900;
                                font-size: 13px;
                                text-transform: uppercase;
                                span{
                                    font-family: 'Open Sans', sans-serif;
                                    font-weight: 900;
                                    font-size: 13px;
                                    text-transform: uppercase;
                                    text-shadow: 0px 10px 8px rgba(0, 0, 0, 0.63);
                                    background: -webkit-linear-gradient(#ffd272, #b38626);
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                }
                            }
                            &.first{
                                bottom: 37px;
                            }
                            &.second{
                                bottom: 22px;
                                p span{
                                    font-size: 12px;
                                }
                            }
                        }
                        .ribbon{
                            position: absolute;
                            content: '';
                            height: 81px;
                            width: 186px;
                            bottom: -20px;
                            left: 0;
                            background-image: url(../img/info-ribbon.png);
                        }
                    }
                }

                &::after {
                    position: absolute;
                    content: '';
                    width: 903px;
                    height: 134px;
                    background-image: url(../img/info-top-bottom.png);
                    bottom: -40px;
                    left: -58px;
                    z-index: 10;
                }
            }
            section.middle{
                h4{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    text-align: center;
                    width: 100%;
                    z-index: 2;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    font-size: 48px;
                    color: #fff;
                    margin: 0;
                }
                p{
                    margin: 25px 0 5px;
                    text-align: center;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    color: #675538;
                    font-size: 20px;

                    span{
                        font-weight: inherit;
                        font-size: inherit;
                        display: inline;
                        text-transform: uppercase;
                    }
                }
                span{
                    display: block;
                    text-align: center;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    color: #675538;
                    font-size: 16px;
                }
            }
            section.low{
                height: 586px;
                width: 100%;
                background-image: url(../img/info-low.png);
                margin-bottom: 650px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 100px 0;

                button{
                    height: 66px;
                    width: 272px;
                    background-image: url(../img/sidebar-button.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    box-shadow: 0px 0px 60px 5px rgba(86, 59, 10, 0.2);
                    color: #fff;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 800;
                    font-size: 16px;
                    color: #fffbe8;
                    margin-left: -10px;
                }
                form{
                    display: flex;
                    flex-direction: column;
                    height: 66%;
                    width: 100%;
                    justify-content: flex-start;
                    align-items: center;

                    div.select-box{
                        position: relative;
                        width: 75%;
                        margin-bottom: 22px;
                        &::after{
                            position: absolute;
                            content: '';
                            top: 3%;
                            right: 0;
                            height: 94%;
                            width: 3px;
                            background-image: url(../img/info-field-border-right.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                        }

                        .nice-select{
                            background-color: #ffffef;
                            height: 50px;
                            width: 100%;
                            border: 3px solid #6c5a3a;
                            border-radius: 9px;
                            outline: none;
                            padding: 0 15px;
                            color: #675538;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 400;
                            font-size: 16px;
                            box-shadow: inset 0px -4px 10px 0px rgba(0, 0, 0, 0.79);
                            &::before{
                                position: absolute;
                                content: '';
                                top: 3%;
                                left: -3px;
                                height: 94%;
                                width: 3px;
                                background-image: url(../img/info-field-border-right.png);
                                background-repeat: no-repeat;
                                -webkit-transform: rotate(180deg);
                                transform: rotate(180deg);
                                background-size: contain;
                            }
                            &::after{
                                content:'';
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 8px;
                                width: 26px;
                                height: 30px;
                                background-image: url(../img/info-select-arrow.png);
                                background-repeat: no-repeat;
                                background-color: transparent;
                                border-radius: 0 10px 10px 0;
                                border: none;
                                transition: all ease-in-out .4s;
                            }
                            &.open::after{
                                transition: all ease-in-out .4s;
                                transform: translate(-37%, -77%) rotate(180deg);
                            }
                            ul.list{
                                width: 100%;
                            }
                        }

                        input[type='text'], select{
                            background-color: #ffffef;
                            height: 50px;
                            width: 100%;
                            border: 3px solid #6c5a3a;
                            border-radius: 9px;
                            outline: none;
                            padding: 0 15px;
                            color: #675538;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 400;
                            font-size: 16px;
                            box-shadow: inset 0px -4px 10px 0px rgba(0, 0, 0, 0.79);

                            &::-webkit-input-placeholder {
                                color: #675538;
                                font-family: 'Open Sans', sans-serif;
                                font-weight: 400;
                                font-size: 16px;
                            }
                            &::-moz-placeholder {
                                color: #675538;
                                font-family: 'Open Sans', sans-serif;
                                font-weight: 400;
                                font-size: 16px;
                            }
                            &:-ms-input-placeholder {
                                color: #675538;
                                font-family: 'Open Sans', sans-serif;
                                font-weight: 400;
                                font-size: 16px;
                            }
                            &:-moz-placeholder {
                                color: #675538;
                                font-family: 'Open Sans', sans-serif;
                                font-weight: 400;
                                font-size: 16px;
                            }
                        }

                        // &::before{
                        //     position: absolute;
                        //     content: '';
                        //     top: 3%;
                        //     left: 1px;
                        //     height: 94%;
                        //     width: 3px;
                        //     background-image: url(../img/info-field-border-right.png);
                        //     background-repeat: no-repeat;
                        //     transform: rotate(180deg);
                        //     background-size: contain;
                        // }
                        // &::after{
                        //     position: absolute;
                        //     content: '';
                        //     top: 3%;
                        //     right: 0;
                        //     height: 94%;
                        //     width: 3px;
                        //     background-image: url(../img/info-field-border-right.png);
                        //     background-repeat: no-repeat;
                        //     background-size: contain;
                        // }
                        .arrow{
                            position: absolute;
                            top: 44%;
                            transform: translateY(-50%);
                            right: 8px;
                            width: 26px;
                            height: 30px;
                            background-image: url(../img/info-select-arrow.png);
                            background-repeat: no-repeat;
                            background-color: #ffffef;
                            border-radius: 0 10px 10px 0;
                        }
                    }
                    input[type='submit']{
                        width: 191px;
                        height: 53px;
                        background-image: url(../img/info-exchange-button.png);
                        border: none;
                        outline: none;
                        background-color: transparent;
                        position: absolute;
                        bottom: 101px;
                        left: 50%;
                        transform: translate(-50%);
                        transition: all ease-in-out .4s;
                        border-radius: 5px;

                        &.exchange-button-hover{
                            transition: all ease-in-out .4s;
                            -webkit-box-shadow: 0px 0px 60px 40px #ecbd2f;
                            box-shadow: 0px 0px 60px 40px #ecbd2f;
                        }
                    }
                    h5{
                        position: absolute;
                        bottom: 93px;
                        left: 38%;
                        background: -webkit-linear-gradient(#ffcc33, #996600);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: 800;
                        font-size: 16px;
                        text-transform: uppercase;
                        line-height: 50px;
                        letter-spacing: -1px;
                        cursor: pointer;
                        color: #e5b226;
                        width: 191px;
                        padding-left: 2%;
                         span{
                            display: inline-block;
                            height: 68px;
                            width: 65px;
                            background-image: url(../img/info-exchange-icon.png);
                         }
                    }
                }
            }
            footer.main{
                position: absolute;
                bottom: 0;
                width: 75%;
            }
        }
        .sidebar{
            .registration.cabinet{
                background-image: none;
                padding-top: 85px;
                justify-content: flex-start;

                .line{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    width: 100%;
                    padding-left: 20px;

                    img.avatar{
                        border: 5px solid #ad8045;
                        margin-right: 15px;
                        max-width: 80px;
                        max-height: 80px;
                    }
                    .text{
                        align-self: center;
                        p{
                            margin: 0;
                            color: #422e1d;
                            font-family: 'Open Sans', sans-serif;
                            text-decoration: none;
                            padding: 0;
                            cursor: default;

                            &:hover{
                                box-shadow: none;
                                background-color: transparent;
                            }
                        }
                    }
                    &:first-of-type{
                        min-height: 80px;
                        margin-bottom: 15px;
                        .text{
                            p{
                                font-size: 18px;
                                font-weight: 800;
                            }
                            span{
                                font-size: 14px;
                                font-weight: 400;
                                text-decoration: underline;
                                cursor: default;
                            }
                        }
                    }
                    &:last-of-type{
                        min-height: 50px;

                        img{
                            border-radius: 50%;
                            -webkit-box-shadow: 0px 0px 18px 2px rgba(131,85,32,0.86);
                            -moz-box-shadow: 0px 0px 18px 2px rgba(131,85,32,0.86);
                            box-shadow: 0px 0px 18px 2px rgba(131,85,32,0.86);
                            margin-right: 20px;
                        }
                        .text{
                            p{
                                font-size: 14px;
                                span{
                                    text-decoration: underline;
                                    i{
                                        font-style: normal;
                                    }
                                }
                            }
                        }
                    }
                }
                a{
                    margin: 25px 0 0 10px;
                }
            }
            .chat{
                ul{
                    height: 260px;
                }
            }
            .bottomSpider{
                height: 10px;
            }
        }
    }
}