body{
    padding: 0;
    margin: 0;
    background-color: #66ccff;
}
.wrapper{
    width: 100%;
    min-height: 1000px;
    min-width: 1300px;
    overflow-x: hidden;
    padding-bottom: 280px;
    position: relative;

    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        min-width: 1920px;
        height: 2250px;
        background-position: top center;
        background-image: url(../img/mainbg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header{
        padding-top: 380px;
        position: relative;

        .inner{
            max-width: 1140px;
            margin: 0 auto;

            nav{
                position: relative;
                z-index: 10;
                margin-left: 35px;

                ul{
                    display: inline;
                    list-style-type: none;
                    position: relative;

                    li{
                        display: inline-block;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 800;
                        font-size: 14px;
                        text-transform: uppercase;
                        height: 44px;
                        float: left;
                        position: relative;
                        z-index: 2;
                        transition: all ease-in-out .4s;
                        background-image: url(../img/header-list-bg.png);
                        background-size: cover;
                        a{
                            text-shadow: 0px 10px 8px rgba(0, 0, 0, 0.63);
                            background: -webkit-linear-gradient(#ffd272, #b38626);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            color: #deb151;
                            display: block;
                            height: 100%;
                            padding: 10px 22px;

                            &:hover{
                                text-decoration: none;
                                color: #deb151;
                            }
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            top: -13px;
                            right: 0;
                            height: 63px;
                            width: 4px;
                            background-image: url(../img/menu-divider.png);
                        }
                        &:last-child::after{
                            display: none;
                        }
                        &:hover{
                            background-image: url(../img/menu-hover.png);
                            transition: all ease-in-out .4s;
                            background-size: cover;
                        }
                    }
                }
                &::before{
                    content:'';
                    position: absolute;
                    bottom: -80px;
                    left: -146px;
                    height: 353px;
                    width: 1346px;
                    display: block;
                    background-image: url(../img/menu-bg.png);
                    z-index: -1;
                }
                &::after{
                    content:'';
                    position: absolute;
                    bottom: -120px;
                    left: 0;
                    height: 122px;
                    width: 787px;
                    display: block;
                    background-image: url(../img/menu-roots.png);
                    z-index: 1;
                }
            }

        }
    }
    .stars-top{
        display: block;
        width: 100%;
        position: relative;
        opacity: 0;

        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 668px;
            background-image: url(../img/stars-top.png);
            animation: visibility infinite linear 3s;
        }
    }
    .birds{
        display: block;
        position: relative;
        z-index: 15;
        opacity: 0;

        &::before{
            content:'';
            width: 1261px;
            height: 291px;
            background-image: url(../img/birds.png);
            position: absolute;
            top: 0;
            right: 0;
            margin-right: calc(50% - 600px);
            transition: all ease-in-out .3s;
        }
    }
    .cubes{
        display: block;
        position: relative;
        z-index: 15;
        opacity: 0;

        &::before{
            content:'';
            height: 336px;
            position: absolute;
            width: 100%;
            min-width: 1920px;
            left: 50%;
            transform: translate(-50%);
            top: 0;
            transition: all ease-in-out .35s;
            background-image: url(../img/cubes.png);
        }
    }
    .cube-left{
        display: block;
        position: relative;
        opacity: 0;

        &::before{
            content: '';
            height: 262px;
            width: 276px;
            background-image: url(../img/cube-left.png);
            position: absolute;
            top: 220px;
            right: 0;
            margin-right: calc(50% + 665px);
            transition: all ease-in-out .4s;
        }
    }
    .cube-right{
        display: block;
        position: relative;
        opacity: 0;

        &::before{
            content: '';
            height: 369px;
            width: 384px;
            background-image: url(../img/cube-right.png);
            position: absolute;
            top: 100px;
            left: 35px;
            margin-left: calc(50% + 580px);
            transition: all ease-in-out .45s;
        }
    }
    .branches{
        display: block;
        position: relative;
        opacity: 0;

        &::before{
            content: '';
            height: 135px;
            width: 977px;
            position: absolute;
            background-image: url(../img/top-branches.png);
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .angie{
        display: block;
        position: relative;
        z-index: 15;
        opacity: 0;

        &::before{
            content: '';
            height: 140px;
            width: 80px;
            background-image: url(../img/angie.png);
            position: absolute;
            top: 205px;
            left: 20px;
            margin-left: calc(50% - 300px);
            transition: all ease-in-out .6s;
        }
    }
    .steve{
        display: block;
        position: relative;
        z-index: 15;
        opacity: 0;

        &::before{
            content: '';
            height: 198px;
            width: 265px;
            background-image: url(../img/Steve-onthe-Horse.png);
            position: absolute;
            left: 60px;
            top: 172px;
            margin-left: calc(50% + 308px);
            transition: all ease-in-out .75s;
        }
    }
    .lightning-left{
        position: absolute;
        top: 0;
        left: 0;
        margin-left: calc(50% - 180px);
        z-index: 17;

        &::after{
            position: absolute;
            content:'';
            height: 172px;
            width: 125px;
            background-image: url(../img/left-lightning.png);
            animation: lightningLeft infinite linear 3s;
        }
    }
    .lightning-right{
        position: absolute;
        top: 0;
        right: 0;
        margin-right: calc(50% - 80px);

        &::after{
            position: absolute;
            content:'';
            height: 403px;
            width: 232px;
            background-image: url(../img/right-lightning.png);
            animation: lightningRight infinite linear 5s;
        }
    }

    .logo{
        display: block;
        position: relative;
        z-index: 16;

        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 50%;
            transform: translate(-50%);
            height: 302px;
            width: 565px;
            background-image: url(../img/beams.png);
            z-index: 0;
            opacity: 1;
        }

        a{
            display: block;
        }

        img{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            display: block;
            z-index: 1;
        }
    }
    .menu-left{
        display: block;
        position: relative;
        z-index: 12;

        &::before{
            content: '';
            height: 376px;
            width: 471px;
            background-image: url(../img/menu-left-img.png);
            position: absolute;
            top: 308px;
            right: 0;
            margin-right: calc(50% + 500px);
        }
    }
    .menu-right{
        display: block;
        position: relative;
        z-index: 15;

        &::before{
            content:'';
            height: 646px;
            width: 594px;
            background-image: url(../img/menu-right-img.png);
            position: absolute;
            top: 335px;
            left: 35px;
            margin-left: calc(50% + 340px);
        }
    }
    .button{
        position: relative;
        display: block;
        left: 35px;
        top: 338px;
        margin-left: calc(50% + 240px);
        z-index: 25;

        button.play{
            position: absolute;
            top: 38px;
            left: 0;
            width: 230px;
            height: 60px;
            background-image: url(../img/begin-game.png);
            background-repeat: no-repeat;
            background-size: contain;
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            color: #3a2817;
            text-transform: uppercase;
            font-size: 20px;
            text-align: center;
            z-index: 2;
            background-color: transparent;
            border: none;
            outline: none;
            margin-left: 30px;

            &::before{
                content:'';
                position: absolute;
                top: -58px;
                left: -60px;
                height: 175px;
                width: 349px;
                display: block;
                background-image: url(../img/button-hover.png);
                z-index: -1;
                opacity: 0;
                transition: all ease-in-out .4s;
                visibility: hidden;
            }
            &:hover::before{
                opacity: 1;
                transition: all ease-in-out .4s;
                visibility: visible;
            }
            p{
                margin-bottom: 10px;
            }

        }
        &::after{
            content:'';
            position: absolute;
            top: -17px;
            left: 0px;
            height: 132px;
            width: 286px;
            display: block;
            background-image: url(../img/begin-game-bg.png);
            z-index: 1;
        }
    }
    .bottom{
        display: block;
        position: absolute;
        z-index: 0;
        bottom: 0;
        width: 100%;

        &::after{
            position: absolute;
            content: '';
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            width: 100%;
            min-width: 1920px;
            height: 2000px;
            background-image: url(../img/bottom.jpg);
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: contain;
        }
        &::before{
            position: absolute;
            content: '';
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            width: 100%;
            min-width: 1920px;
            height: 2000px;
            background-image: url(../img/stars-bottom.png);
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: contain;
            z-index: 2;
            animation: visibility infinite linear 3s;
        }
    }
}

.content{
    max-width: 1060px;
    width: 100%;
    margin: 78px auto 0 auto;
    position: relative;

    .top-border{
        display: block;
        position: absolute;
        width: calc(100% + 150px);
        height: 37px;
        background-image: url(../img/main-border-top.jpg);
        top: -37px;
        left: -75px;

        &::before{
            position: absolute;
            content: '';
            width: 81px;
            height: 63px;
            background-image: url(../img/top-left-cross.png);
            top: -15px;
            left: 15px;
        }
        &::after{
            position: absolute;
            content: '';
            width: 99px;
            height: 117px;
            background-image: url(../img/top-right-cross.png);
            top: -40px;
            right: -3px;
        }
    }
    .bottom-border{
        display: block;
        position: absolute;
        width: calc(100% + 150px);
        height: 37px;
        background-image: url(../img/main-border-top.jpg);
        bottom: -16px;
        left: -75px;

        &::before{
            position: absolute;
            content: '';
            width: 81px;
            height: 63px;
            background-image: url(../img/bottom-cross.png);
            bottom: -10px;
            left: 15px;
        }
        &::after{
            position: absolute;
            content: '';
            width: 81px;
            height: 63px;
            background-image: url(../img/bottom-cross.png);
            bottom: -10px;
            right: 15px;
        }
    }
    .left-border{
        display: block;
        position: absolute;
        height: calc(100% + 100px);
        width: 64px;
        background-image: url(../img/main-border-left.png);
        top: -40px;
        left: -50px;
    }
    .right-border{
        display: block;
        position: absolute;
        height: calc(100% + 100px);
        width: 57px;
        background-image: url(../img/main-border-right.png);
        top: -40px;
        right: -46px;

        &::after{
            position: absolute;
            content: '';
            height: 168px;
            width: 152px;
            background-image: url(../img/bottom-cristals.png);
            bottom: 30px;
            right: -30px;
            z-index: 22;
        }
    }
    .middle-border{
        display: block;
        position: absolute;
        height: calc(100% + 100px);
        width: 63px;
        background-image: url(../img/main-border-middle.png);
        top: -40px;
        left: 73.5%;
        z-index: 10;

        &::before{
            position: absolute;
            content: '';
            width: 81px;
            height: 63px;
            background-image: url(../img/bottom-cross.png);
            top: -15px;
            left: -10px;
        }
        &::after{
            position: absolute;
            content: '';
            width: 81px;
            height: 63px;
            background-image: url(../img/bottom-cross.png);
            bottom: 35px;
            left: -10px;
        }
    }
    .inner-content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .main{
        display: inline-block;
        vertical-align: top;
        width: 75%;
        background-image: url(../img/main-bg.jpg);

        .slider{
            background-image: url(../img/slider-bg.jpg);
            background-repeat: no-repeat;
            background-position: top left;
            background-size: cover;
            position: relative;
            padding: 40px 0;

            &::after{
                position: absolute;
                content: '';
                height: 82px;
                width: 903px;
                bottom: -35px;
                left: -56px;
                background-image: url(../img/slider-bottom.png);
                z-index: 22;
            }

            .slickSlider{
                max-width: 713px;
                margin: 0 auto;
                border: 5px solid #cda260;

                .slick-arrow{
                    position: absolute;
                    z-index: 10;
                    top: 30%;
                    height: 36px;
                    width: 36px;
                    border: none;
                    background-image: url(../img/slider-arrow.png);
                    color: transparent;
                    outline: none;
                }
                .slick-prev{
                    left: 12px;
                }
                .slick-next{
                    right: 12px;
                    transform: rotate(180deg);
                }
                .slick-arrow.slick-next:hover{
                    background-image: url(../img/slider-arrow-hover.png);
                    transform: rotate(0deg);
                }
                .slick-arrow.slick-prev:hover{
                    background-image: url(../img/slider-arrow-hover.png);
                    transform: rotate(180deg);
                }
                .slide{
                    position: relative;
                    .text{
                        position: absolute;
                        width: 100%;
                        background-color: rgba(0,0,0,.6);
                        bottom: 0;
                        left: 0;
                        text-align: center;
                        h2{
                            color: #fefed5;
                            font-size: 36px;
                            font-family: 'Open Sans';
                        }
                        p{
                            font-family: 'Open Sans';
                            font-weight: 300;
                            color: #cc9900;
                            font-size: 14px;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
        section{
            position: relative;

            &::after{
                position: absolute;
                content: '';
                width: 100%;
                height: 51px;
                background-image: url(../img/section-border-bottom.png);
                bottom: -35px;
            }

            h3{
                margin: 45px 0 20px;
                text-align: center;
                color: #5a462a;
                font-size: 24px;
                font-weight: 600;
                font-family: 'Open Sans', sans-serif;
            }
            .video{
                position: relative;
                display: block;

                iframe{
                    width: 100%;
                    border: none;
                }
            }
            footer{
                padding: 15px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .left >div{
                    display: inline-block;
                    vertical-align: top;
                    padding: 0 15px;
                    border-right: 1px solid #bfb9a1;
                    color: #49371a;
                    font-size: 12px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                }
                .left >div:last-of-type{
                    border-right: none;
                }
                .right{
                    padding-right: 15px;

                    a{
                        text-decoration: underline;
                        color: #574225;
                        font-size: 16px;
                        position: relative;

                        &:after{
                            content: '';
                            height: 10px;
                            width: 9px;
                            background-image: url(../img/link-arrow.png);
                            display: inline-block;
                            margin-left: 8px;
                        }
                    }
                }
            }
            .blueLayer{
                position: relative;
                width: 100%;

                &::before{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: rgba(93,208,255,.7);
                    top: 0;
                    left: 0;
                    display: block;
                    z-index: 2;
                    transition: all ease-in-out .4s;
                }
                &:hover::before{
                    animation: hide linear .5s forwards;
                    animation-fill-mode: forwards;
                }
            }
        }
        footer.main{
            height: 180px;
            width: 100%;
            background-image: url(../img/footer-bg.png);
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: -40px;
            padding-bottom: 20px;

            .left{
                padding-left: 75px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                height: 65px;

                &::before{
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                    height: 46px;
                    width: 68px;
                    content: '';
                    background-image: url(../img/footer-left.png);
                }
                p{
                    margin: 0;
                    color: #5f4843;
                    font-size: 12px;
                    font-family: 'Open Sans';
                    font-weight: 400;
                }
            }
            .right{
                padding-right: 75px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-direction: column;
                height: 65px;

                &::after{
                    position: absolute;
                    display: block;
                    top: 54%;
                    right: -10px;
                    transform: translateY(-50%);
                    height: 84px;
                    width: 72px;
                    content: '';
                    background-image: url(../img/footer-right.png);
                }
                p{
                    margin: 0;
                    color: #5f4843;
                    font-size: 14px;
                    font-family: 'Open Sans';
                    font-weight: 400;
                }
                a{
                    color: #5572c9;
                    font-size: 14px;
                    font-family: 'Open Sans';
                    font-weight: 400;
                    text-decoration: underline;
                }
            }
        }

    }
    .sidebar{
        display: inline-block;
        vertical-align: top;
        width: 21.7%;
        height: 100%;
        background-image: url(../img/bricks.png);
        margin-left: 3%;

        .navigation{
            background-image: url(../img/navigation-bg.jpg);
            position: relative;
            z-index: 24;
            padding: 20px 0 45px;

            &::after{
                content: '';
                position: absolute;
                bottom: -200px;
                left: -105px;
                height: 250px;
                width: 491px;
                background-image: url(../img/navigation-web.png);
                background-position: 0px -45px;
            }

            button{
                position: absolute;
                width: 119%;
                height: 66px;
                background-image: url(../img/navigation-button.png);
                background-repeat: no-repeat;
                background-size: cover;
                top: -40px;
                left: -9%;
                border: none;
                outline: none;
                background-color: transparent;
                box-shadow: 0px 0px 60px 5px rgba(86,59,10,0.2);
                color: #6d532e;
                font-family: 'Roboto', sans-serif;
                font-weight: 900;
                font-size: 18px;
            }
            ul{
                list-style-type: none;
                margin-left: -40px;

                li{
                    width: 98%;
                    margin-left: 1%;
                    background-image: url(../img/main-bg.jpg);
                    border: 1px solid #c4a577;
                    cursor: pointer;
                    transition: all ease-in-out .4s;

                    &:hover{
                        border: 1px solid #905f00;
                        transition: all ease-in-out .4s;
                    }

                    a{
                        color: #333;
                        text-decoration: none;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 13px;
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 15px;

                        &::after{
                            content: '\f054';
                            font-family: 'fontawesome';
                            float: right;
                            color: #bd9d3f;
                            transition: all ease-in-out .25s;
                        }
                        &:hover{
                            text-decoration: none;
                        }
                        &:hover::after{
                            color: #4f422e;
                            transition: all ease-in-out .25s;
                        }
                    }
                }
            }
        }
        .registration{
            background-image: url(../img/registration-bg.png);
            position: relative;
            z-index: 24;
            height: 340px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            &::before{
                position: absolute;
                content: '';
                height: 107px;
                width: 92px;
                background-image: url(../img/registration-key.png);
                right: -50px;
                top: -50px;
                z-index: 1;
            }
            &::after{
                position: absolute;
                content: '';
                height: 36px;
                width: 299px;
                background-image: url(../img/registration-bottom-branch.png);
                left: 50%;
                transform: translate(-50%);
                bottom: -3px;
            }

            button{
                position: absolute;
                width: 119%;
                height: 66px;
                background-image: url(../img/sidebar-button.png);
                background-repeat: no-repeat;
                background-size: cover;
                top: 5px;
                left: -9%;
                border: none;
                outline: none;
                background-color: transparent;
                box-shadow: 0px 0px 60px 5px rgba(86,59,10,0.2);
                color: #6d532e;
                font-family: 'Roboto', sans-serif;
                font-weight: 900;
                font-size: 18px;
            }

            a{
                text-decoration: none;
                display: block;
                position: relative;
                width: 105px;
                height: 37px;
                text-align: center;
                line-height: 37px;
                margin: 115px 0 0 10px;
                font-size: 16px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 800;
                background: -webkit-linear-gradient(#ffcc33, #996600);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                border-radius: 5px;
                transition: all ease-in-out .4s;
                color: #e5b226;

                &:hover{
                    text-decoration: none;
                    color: #e5b226;
                    transition: all ease-in-out .4s;
                    -webkit-box-shadow: 0px 0px 60px 40px rgba(236,189,47,1);
                    -moz-box-shadow: 0px 0px 60px 40px rgba(236,189,47,1);
                    box-shadow: 0px 0px 60px 40px rgba(236,189,47,1);
                }

                &::before{
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    display: block;
                    width: 105px;
                    height: 37px;
                    background-image: url(../img/enter-button.png);
                    z-index: -1;
                    -webkit-box-shadow: 0px -3px 8px 0px rgba(0,0,0,1);
                    -moz-box-shadow: 0px -3px 8px 0px rgba(0,0,0,1);
                    box-shadow: 0px -3px 8px 0px rgba(0,0,0,1);
                    border-radius: 5px;
                }
            }
            p{
                color: #422e1d;
                font-size: 12px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                text-decoration: underline;
                margin: 0 0 35px 15px;
                cursor: pointer;
                padding: 5px;
                transition: all ease-in-out .4s;

                &:hover{
                    background-color: #d1be83;
                    border-radius: 5px;
                    transition: all ease-in-out .4s;
                    -webkit-box-shadow: 0px 0px 60px 15px rgba(236,189,47,1);
                    -moz-box-shadow: 0px 0px 60px 15px rgba(236,189,47,1);
                    box-shadow: 0px 0px 60px 15px rgba(236,189,47,1);

                }
            }
        }
        .vote{
            position: relative;
            z-index: 24;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            &::before{
                position: absolute;
                content: '';
                height: 85px;
                width: 92px;
                background-image: url(../img/button-branch.png);
                left: 10px;
                top: -60px;
                z-index: 1;
            }

            &::after{
                position: absolute;
                content: '';
                height: 36px;
                width: 299px;
                background-image: url(../img/registration-bottom-branch.png);
                left: 50%;
                transform: translate(-50%) rotate(180deg);
                bottom: -24px;
            }

            button{
                position: absolute;
                width: 119%;
                height: 66px;
                background-image: url(../img/sidebar-button.png);
                background-repeat: no-repeat;
                background-size: cover;
                top: -3px;
                left: -9%;
                border: none;
                outline: none;
                background-color: transparent;
                box-shadow: 0px 0px 60px 5px rgba(86,59,10,0.2);
                color: #6d532e;
                font-family: 'Roboto', sans-serif;
                font-weight: 900;
                font-size: 18px;

                &::after{
                    position: absolute;
                    content: '';
                    height: 54px;
                    width: 56px;
                    background-image: url(../img/vote-cristal.png);
                    right: 15px;
                    top: 5px;
                }
            }

            a{
                display: block;
                position: relative;
                text-align: center;
                margin: 75px 0 0 10px;
                font-size: 16px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 800;
                background: -webkit-linear-gradient(#ffcc33, #996600);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                border-radius: 5px;
                transition: all ease-in-out .4s;
            }
            p{
                color: #422e1d;
                font-size: 16px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 800;
                padding: 5px;
                transition: all ease-in-out .4s;
                text-align: center;
                line-height: 1.2;
                max-width: 100%;
            }
            span{
                color: #422e1d;
                text-decoration: underline;
                font-size: 14px;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                padding: 0 15px;
                margin-bottom: 25px;
                max-width: 100%;
            }
        }
        .monitoring{
            position: relative;
            z-index: 24;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            &::before{
                position: absolute;
                content: '';
                height: 85px;
                width: 92px;
                background-image: url(../img/button-branch.png);
               right: -20px;
                top: -34px;
                z-index: 1;
                transform: rotateY(180deg);
            }

            button{
                position: absolute;
                width: 119%;
                height: 66px;
                background-image: url(../img/sidebar-button.png);
                background-repeat: no-repeat;
                background-size: cover;
                top: 20px;
                left: -9%;
                border: none;
                outline: none;
                background-color: transparent;
                box-shadow: 0px 0px 60px 5px rgba(86,59,10,0.2);
                color: #6d532e;
                font-family: 'Roboto', sans-serif;
                font-weight: 900;
                font-size: 18px;

                &::after{
                    position: absolute;
                    content: '';
                    height: 90px;
                    width: 76px;
                    background-image: url(../img/hammer.png);
                    left: 0;
                    top: -5px;
                }
            }
            ul{
                margin: 100px 0 0 0;
                width: 100%;
                list-style-type: none;
                padding: 0 5%;

                .text{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: #422e1d;
                    font-size: 14px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 600;

                    p{
                        margin-bottom: 5px;
                    }
                }
                .bar{
                    width: 100%;
                    height: 26px;
                    border: 3px solid;
                    border-image: url(../img/water-bar-border.png) 3;
                    margin-bottom: 10px;
                    background-color: #422e1d;
                    border-radius: 3px;
                    position: relative;
                    overflow: hidden;

                    &::after{
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        -webkit-box-shadow: inset 0px 4px 10px 0px rgba(0,0,0,0.79);
                        -moz-box-shadow: inset 0px 4px 10px 0px rgba(0,0,0,0.79);
                        box-shadow: inset 0px 4px 10px 0px rgba(0,0,0,0.79);
                    }

                    .water{
                        height: 100%;
                        width: 50%;
                        position: relative;
                        background: linear-gradient(to right, #029bce , #33ccff);

                        &:before{
                            position: absolute;
                            content: '';
                            height: 100%;
                            width: 100%;
                            top: 0; left: 0; bottom: 0; right: 0;
                            background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%,
                            rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
                            z-index: 1;
                            background-size: 50px 50px;
                            animation: move infinite linear 5s;
                        }
                    }
                }
            }
            .score{
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 14px;
                color: #422e1d;
            }
            a{
                color: #422e1d;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                text-decoration: underline;
                display: block;
                width: 160px;
                height: 30px;
                border: 1px solid #422e1d;
                line-height: 1.8;
                text-align: center;
                border-radius: 4px;
                margin-bottom: 20px;
                -webkit-box-shadow: 0px 0px 6px 5px rgba(158,132,76,0.55);
                -moz-box-shadow: 0px 0px 6px 5px rgba(158,132,76,0.55);
                box-shadow: 0px 0px 6px 5px rgba(158,132,76,0.55);
                transition: all ease-in-out .4s;
                &:hover{
                    transition: all ease-in-out .4s;
                    -webkit-box-shadow: 0px 0px 60px 15px #ecbd2f;
                    box-shadow: 0px 0px 60px 15px #ecbd2f;
                }
            }
        }
        .socials{
            position: relative;
            z-index: 24;

            button{
                position: relative;
                width: 119%;
                height: 66px;
                background-image: url(../img/sidebar-button.png);
                background-repeat: no-repeat;
                background-size: cover;
                border: none;
                outline: none;
                background-color: transparent;
                box-shadow: 0px 0px 60px 5px rgba(86,59,10,0.2);
                color: #6d532e;
                font-family: 'Roboto', sans-serif;
                font-weight: 900;
                font-size: 18px;
                margin: 0 0 7px -10%;
                z-index: 24;
                padding-right: 50px;

                &.vk::after{
                    position: absolute;
                    display: block;
                    content: '';
                    height: 40px;
                    width: 68px;
                    background-image: url(../img/vk-icon.png);
                    right: 23px;
                    top: 11px;
                }
                &.discord::after{
                    position: absolute;
                    display: block;
                    content: '';
                    height: 36px;
                    width: 52px;
                    background-image: url(../img/discord-icon.png);
                    right: 29px;
                    top: 12px;
                }
            }
        }
        img.banner{
            width: 100%;
        }
        .chat{
            height: 550px;
            background-color: #1e2124;

            ul{
                list-style-type: none;
                padding: 10px 10px 10px 25px;
                height: 360px;
                overflow-y: scroll;

                li{
                    padding: 5px 0;
                    color: #fff;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                }
            }

            footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                bottom: 200px;
                padding: 10px 10px 10px 25px;
                background-color: #1e2124;

                p{
                    max-width: 40%;
                    color: #303332;
                }
                a{
                    display: block;
                    width: 130px;
                    height: 30px;
                    color: #fff;
                    text-align: center;
                    line-height: 30px;
                    background-color: #35383a;
                    border-radius: 5px;
                }
            }
        }
        .bottomSpider{
            position: relative;
            width: 100%;
            height: 103px;
            display: block;
            &::before{
                position: absolute;
                bottom: 21px;
                left: 0;
                content: '';
                height: 179px;
                width: 100%;
                background-image: url(../img/bottom-spider.jpg);
            }
        }
    }
}
@keyframes hide {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100%{
        z-index: -1;
    }
}
@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}
@keyframes visibility {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
}
@keyframes lightningRight {
    0% {
        opacity: 0;
    }
    3%{
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    27%{
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes lightningLeft {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes beams {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.bubbles{
    width: 25%;
    margin-left: 25%;
    height: 300px;
    display: block;
    position: absolute;
    z-index: 2;
    bottom: 0;

    .individual-bubble {
        position: absolute;
        border-radius: 100%;
        bottom: 10px;
        background-color: #fff;
        z-index: 1;
        }
}


.video_wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #000;
}
.video_wrapper_full {
    padding-top: 250px;
}


.videoIframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.videoPoster {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image:url(../img/video.jpg);
    background-size: 100%;
    border: none;
    text-indent: -999em;
    overflow: hidden;
    opacity: 1;
    transition: opacity 800ms, height 0s;
    transition-delay: 0s, 0s;
    outline: none;

    &::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(93,208,255,.7);
        top: 0;
        left: 0;
        display: block;
        z-index: 2;
        transition: all ease-in-out .4s;
    }
}
.videoPoster:hover {
    cursor: pointer;
}
.videoPoster:hover:before{
    animation: hide linear .5s forwards;
    animation-fill-mode: forwards;
}
.videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    transition-delay: 0s, 800ms;
}
.wrapper #parallax .displayItem{
    opacity: 1;
    transition: opacity ease-in-out .4s;
}